<!--content-->
<div class="single-new nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>single new page</h1>
        </div>
    </div>
</div>
<div class="center news-con">
    <div class="news">
        {{if $news_pic}}
        <div class="banner">
            <ul>
                {{foreach $news_pic as $pic}}
                <li><img src="{{'upload/file'|base_url}}/{{$pic}}" alt=""></li>
                {{/foreach}}
            </ul>
            <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al"
                                                                             src="{{'static/images/arrowl.png'|base_url}}"
                                                                             alt="prev" width="20" height="35"></a>
            <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar"
                                                                             src="{{'static/images/arrowr.png'|base_url}}"
                                                                             alt="next" width="20" height="37"></a>
        </div>
        {{/if}}
        <div class="news-paper">
            <div class="news-title">
                <h1>{{$desc.title}}</h1>
                <a class="icon-left" href="#">
                    <icon class=" iconfont">&#xe60e;</icon>
                </a>
            </div>
            <div class="news-tip p-blank">
                <p class="tip">
                    <icon class="iconfont">&#xe6a0;</icon>
                    admin
                </p>
                <p class="tip">
                    <icon class="iconfont">&#xe60a;</icon>
                    Transport news
                </p>
                <p class="tip">
                    <icon class="iconfont">&#xe60c;</icon>
                    6 comments
                </p>
            </div>
            <div class="news-text">
                {{$desc.content}}
            </div>
            {{if $keywords}}
            <div class="tags p-blank">
                <span class="tag-title">Tags:</span>
                {{foreach $keywords as $keyword}}
                <button class="tag-btn">{{$keyword.keyword}}</button>
                {{/foreach}}
            </div>
            {{/if}}
            <div class="share">
                <span class="tag-title">Shares:</span>
                <a href="#">
                    <icon class="active iconfont">&#xe606;</icon>
                </a>
                <a href="#">
                    <icon class="iconfont">&#xe608;</icon>
                </a>
                <a href="#">
                    <icon class="iconfont">&#xe6c1;</icon>
                </a>
                <a href="#">
                    <icon class="iconfont">&#xe607;</icon>
                </a>
            </div>
            <div class="paper-change p-blank">
                {{if $desc.id > 1 }}
                <a href="{{'news/desc'|base_url}}?id={{$desc.id-1}}" class="ch-arraw prev">
                    <icon class="iconfont">&#xe619;</icon>
                    <span>Previos</span>

                </a>
                {{/if}}
                {{if $desc.id < $max_id}}
                <a href="{{'news/desc'|base_url}}?id={{$desc.id+1}}" class="ch-arraw next">
                    <span>Next</span>
                    <icon class="iconfont">&#xe613;</icon>
                </a>
                {{/if}}
            </div>
        </div>
        <div class="comment">
            <div class="com-title">
                <h1 class="bold-title">Commonts({{$comment_num}})</h1>
            </div>
            <div class="com-list">
                <ul>
                    {{foreach $comments as $comment}}
                    <li>
                        <div class="avatar"><img src="{{$comment.pic}}"></div>
                        <div class="com-content">
                            <div class="com-title">
                                <div class="com-user">{{$comment.name}}</div>
                                <div class="date-reply">
                                    <span>{{$comment.create_time|date_format:"%Y-%m-%d %H:%m:%S"}}</span>
                                </div>
                            </div>
                            <div class="com-text">
                                <p>{{$comment.message}}</p>
                            </div>
                        </div>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>
        <div class="leave-com">
            <form action="" id="comments" method="post" onsubmit="return false;">
                <h1 class="bold-title">Leave a comment</h1>
                <input type="hidden" name="news_id" value="{{$desc.id}}">
                <div class="contact-name mar-top-one">
                    <div class="contact_firstname">
                        <p class="list_title">Your Name*</p>
                        <input type="text" name="name" value="" class="input_name"/>
                    </div>
                    <div class="mar-left-one">
                        <p class="list_title">Your Email*</p>
                        <input type="text" name="email" value="" class="input_name"/>
                    </div>
                    <div class="mar-left-one">
                        <p class="list_title">Your Website*</p>
                        <input type="text" name="website" value="" class="input_name"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="leave-text mar-top-one">
                    <p class="list_title">Enter Your Message*</p>
                    <textarea name="message" rows="" cols=""></textarea>
                </div>
            </form>
            <button class="contact-sub mar-top-one">Leave a comment</button>
        </div>
    </div>
    <div class="right-side">
        <!--<div class="search block-blank">-->
        <!--<h1 class="bold-title">News search</h1>-->
        <!--<input placeholder="search..."/>-->
        <!--</div>-->
        <!--<div class="category block-blank">-->
        <!--<h1 class="bold-title">Categories</h1>-->
        <!--<div class="cat-list">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--LCD-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--24-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--LCD-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--24-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--LCD-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--24-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--LCD-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--24-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--LCD-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--24-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="category block-blank">-->
        <!--<h1 class="bold-title">Archive</h1>-->
        <!--<div class="cat-list">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--May 2015-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--5-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--May 2015-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--5-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--May 2015-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--5-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--May 2015-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--5-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="cat-name">-->
        <!--May 2015-->
        <!--</div>-->
        <!--<div class="num">-->
        <!--5-->
        <!--</div>-->
        <!--</li>-->

        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="category block-blank">-->
        <!--<h1 class="bold-title">Hot news</h1>-->
        <!--<div class="cat-list">-->
        <!--<ul>-->
        <!--<li>-->
        <!--<div class="hotnew-pic"><img src="http://placehold.it/64x64&text=First"></div>-->
        <!--<div class="com-content">-->
        <!--<div class="hotnew-title">content to be translated content translated</div>-->
        <!--<div class="hotnew-time">3 days ago</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="hotnew-pic"><img src="http://placehold.it/64x64&text=First"></div>-->
        <!--<div class="com-content">-->
        <!--<div class="hotnew-title">content to be translated content translated</div>-->
        <!--<div class="hotnew-time">3 days ago</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="hotnew-pic"><img src="http://placehold.it/64x64&text=First"></div>-->
        <!--<div class="com-content">-->
        <!--<div class="hotnew-title">content to be translated content translated</div>-->
        <!--<div class="hotnew-time">3 days ago</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <div class="keys block-blank">
            <h1 class="bold-title">Keywords</h1>
            <div class="tags">
                <button class="tag-btn">NEWS</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn active">Express</button>
            </div>


        </div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        var unslider04 = $('.banner').unslider({
                    dots: true
                }),
                data04 = unslider04.data('unslider');

        $('.unslider-arrow04').click(function () {
            var fn = this.className.split(' ')[1];
            data04[fn]();
        });
        $(".contact-sub").on("click", function () {
            $.post("{{'news/save_comments'|base_url}}", $("#comments").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000)
                }
                else {
                    layer.msg(res.emsg);
                }
            })
        })
    });
</script>