<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add Paper</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="form_editors.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="form_editors.html#">选项1</a>
                        </li>
                        <li>
                            <a href="form_editors.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div id="editor">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        var E = window.wangEditor;
        var editor = new E('#editor');
        editor.customConfig.lang = {
            '设置标题': 'title',
            '正文': 'p',
            '链接文字': 'link text',
            '链接': 'link',
            '上传图片': 'upload image',
            '上传': 'upload',
            '创建': 'init',
            '文字颜色':'text color',
            '背景色':'background color',
            '设置列表':'set list',
            '有序列表':'order list',
            '无序列表':'unorder list',
            '对齐方式':'align',
            '靠左':'left',
            '居中':'center',
            '靠右':'right',
            '表情':'emoji',
            '手势':'gesture',
            '网络图片':'pic',
            '图片link':'pic link',
            '插入表格':'table',
            '行':'row',
            '列的表格':'row table',
            '插入视频':'video',
            '格式如':'format',
            '插入代码':'insert code'
            // 还可自定添加跟多
        };
        // 或者 var editor = new E( document.getElementById('#editor') )
        editor.create()
    })

</script>