<!--content-->
<div class="single-new nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>single new page</h1>
        </div>
    </div>
</div>
<div class="center news-con">
    <div class="news news-list">
        {{foreach $newslist as $new}}
        <div class="news-paper">
            <div class="news-title">
                <h1>{{$new.title}}</h1>
            </div>
            <div class="news-tip mar-top-one">
                <p class="tip">
                    <icon class="iconfont">&#xe6a0;</icon>
                    {{$new.creater}}
                </p>
                <p class="tip">
                    <icon class="iconfont">&#xe60a;</icon>
                    Transport news
                </p>
                <p class="tip">
                    <icon class="iconfont">&#xe60c;</icon>
                    {{$new.comments}}comments
                </p>
            </div>
            <div class="news-omit mar-top-one">
                {{$new.content}}
            </div>
            <div class="read-more mar-top-one">
                <a href="{{'news/desc'|base_url}}?id={{$new.id}}">
                    <button class="read-btn">Read More</button>
                </a>
            </div>
        </div>
        {{/foreach}}
    </div>
    <div class="right-side">
        <div class="keys block-blank">
            <h1 class="bold-title">Keywords</h1>

            <div class="tags">
                {{foreach $keyword_tag as $tag}}
                <button class="tag-btn"><a href="{{'news/tag'|base_url}}?keyword={{$tag.keyword}}">{{$tag.keyword}}</a></button>
                {{/foreach}}
            </div>


        </div>
    </div>
</div>