<!--content-->
<div class="single-new nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>single new page</h1>
        </div>
    </div>
</div>
<div class="center news-con">
    <div class="news news-list">
        <a href="{{'news/desc'|base_url}}">
            <div class="news-paper">
                <div class="news-title">
                    <h1>Stander Post Format</h1>
                </div>
                <div class="news-tip mar-top-one">
                    <p class="tip">
                        <icon class="iconfont">&#xe6a0;</icon>
                        admin
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60a;</icon>
                        Transport news
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60c;</icon>
                        6 comments
                    </p>
                </div>
                <div class="news-omit mar-top-one">
                    <p>
                        Google's free translation service provides translation between simplified Chinese and more than
                        100 languages, allowing you to translate words, phrases and web pages instantly.
                    </p>
                </div>
                <div class="read-more mar-top-one">
                    <button class="read-btn">Read More</button>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="news-paper">
                <div class="news-title">
                    <h1>Stander Post Format</h1>
                </div>
                <div class="news-tip mar-top-one">
                    <p class="tip">
                        <icon class="iconfont">&#xe6a0;</icon>
                        admin
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60a;</icon>
                        Transport news
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60c;</icon>
                        6 comments
                    </p>
                </div>
                <div class="news-omit mar-top-one">
                    <p>
                        Google's free translation service provides translation between simplified Chinese and more than
                        100 languages, allowing you to translate words, phrases and web pages instantly.
                    </p>
                </div>
                <div class="read-more mar-top-one">
                    <button class="read-btn">Read More</button>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="news-paper">
                <div class="news-title">
                    <h1>Stander Post Format</h1>
                </div>
                <div class="news-tip mar-top-one">
                    <p class="tip">
                        <icon class="iconfont">&#xe6a0;</icon>
                        admin
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60a;</icon>
                        Transport news
                    </p>
                    <p class="tip">
                        <icon class="iconfont">&#xe60c;</icon>
                        6 comments
                    </p>
                </div>
                <div class="news-omit mar-top-one">
                    <p>
                        Google's free translation service provides translation between simplified Chinese and more than
                        100 languages, allowing you to translate words, phrases and web pages instantly.
                    </p>
                </div>
                <div class="read-more mar-top-one">
                    <button class="read-btn">Read More</button>
                </div>
            </div>
        </a>
    </div>
    <div class="right-side">
        <div class="keys block-blank">
            <h1 class="bold-title">Keywords</h1>
            <div class="tags">
                <button class="tag-btn">NEWS</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn">TFT</button>
                <button class="tag-btn active">Express</button>
            </div>


        </div>
    </div>
</div>