<div class="row and-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>Android LCM</h1>
        </div>
    </div>
</div>
<div class="lcm-tips">
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon1.png'|base_url}}">
        <h3>Industrial Level
            Stable Configuration</h3>
        <p>1.6GHz Qual-core ARM A9
            1GB DDR3 Open Source
            Android/Ubuntu Platform</p>
    </div>
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon2.png'|base_url}}">
        <h3>Multiple Sizes for
            Varied Occasions</h3>
        <p>Industrial Level Anti-Interference
            IPS Capacitive Touch Screen
            Suitable for Varied Applications</p>
    </div>
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon3.png'|base_url}}">
        <h3>Customizable
            Product Design</h3>
        <p>802.11 b/g/n WIFI
            1000M Ethernet Module
            Multi-channel Serial & USB Port</p>
    </div>
</div>
<div class="android-pic">
    <div class="pop1 popover">
        <p>Working Temp.from -20℃ to 70</p>
    </div>
    <div class="pop2 popover">
        <p>Working Temp.from -20℃ to 70</p>
    </div>
    <div class="pop3 popover">
        <p>Working Temp.from -20℃ to 70</p>
    </div>
    <div class="pop4 popover">
        <p>Working Temp.from -20℃ to 70</p>
    </div>
    <div class="pop5 popover">
        <p>Working Temp.from -20℃ to 70</p>
    </div>

    <img class="android-bg" src="{{'static/images/lcm-android.webp'|base_url}}">
    <a class="hint1" href="javascript:void(0);">
        <div class="circle_1 circle">
            <icon class="iconfont">&#xe7c6;</icon>
        </div>
    </a>
    <a class="hint2" href="javascript:void(0);">
        <div class="circle_2 circle">
            <icon class="iconfont">&#xe7c6;</icon>
        </div>
    </a>
    <a class="hint3" href="javascript:void(0);">
        <div class="circle_3 circle">
            <icon class="iconfont">&#xe7c6;</icon>
        </div>
    </a>
    <a class="hint4" href="javascript:void(0);">
        <div class="circle_4 circle">
            <icon class="iconfont">&#xe7c6;</icon>
        </div>
    </a>
    <a class="hint5" href="javascript:void(0);">
        <div class="circle_5 circle">
            <icon class="iconfont">&#xe7c6;</icon>
        </div>
    </a>
</div>
<div class="and-choice">
    <h3>Best Choice for Industrial Android</h3>
    <p>Rockchip 3188 Quad-core drive platform</p>
</div>
<div class="gray-and">
    <img src="{{'static/images/android_gray.webp'|base_url}}">
</div>
<div class="and-icon-cont">
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_1.png'|base_url}}">
        <h3>CPU</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>CPU</h3>
                <p>ARM A9 4 CORE</br>
                    1.6 GHz ROCKCHIP PLATEFORM
                </p>
            </div>
        </div>
    </div>
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_2.png'|base_url}}">
        <h3>System</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>System</h3>
                <p>Android 4.4 / LINUX</br>
                    WIFI,Ethernet embedded</br>
                    Bluetooth, HDMI etc in option.
                </p>
            </div>
        </div>
    </div>
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_3.png'|base_url}}">
        <h3>Memeory</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>Memeory</h3>
                <p>1GB DDR3</br>
                    8GB Emmc
                </p>
            </div>
        </div>
    </div>
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_4.png'|base_url}}">
        <h3>Display</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>Display</h3>
                <p>1080P Supported</br>
                    16.7M 24bit-Color LED</br>
                    Industrial Use with full aging test
                </p>
            </div>
        </div>
    </div>
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_5.png'|base_url}}">
        <h3>Touch Control</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>Touch Control</h3>
                <p>Capacitive Panel</br>
                    TF card introduced for data stock
                </p>
            </div>
        </div>
    </div>
    <div class="and-icon">
        <img src="{{'static/images/AndroidLCM_6.png'|base_url}}">
        <h3>Interface</h3>
        <div class="and-overlay">
            <div class="and-desc">
                <h3>Interface</h3>
                <p>UART Communications</br>
                    App from third-party necessary
                </p>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        $(".hint1").on("click", function () {
            $(".pop1").slideToggle();
        });
        $(".hint2").on("click", function () {
            $(".pop2").slideToggle();
        });
        $(".hint3").on("click", function () {
            $(".pop3").slideToggle();
        });
        $(".hint4").on("click", function () {
            $(".pop4").slideToggle();
        });
        $(".hint5").on("click", function () {
            $(".pop5").slideToggle();
        });
        $(".android-bg").on("click", function () {
            $(".popover").each(function () {
                $(this).hide();
            })
        })
    })
</script>
