<div class="row and-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>Android LCM</h1>
        </div>
    </div>
</div>
<div class="lcm-tips">
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon1.png'|base_url}}">
        <h3>Industrial Level
            Stable Configuration</h3>
        <p>1.6GHz Qual-core ARM A9
            1GB DDR3 Open Source
            Android/Ubuntu Platform</p>
    </div>
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon2.png'|base_url}}">
        <h3>Multiple Sizes for
            Varied Occasionss</h3>
        <p>Industrial Level Anti-Interference
            IPS Capacitive Touch Screen
            Suitable for Varied Applications/p>
    </div>
    <div class="lcm-list">
        <img src="{{'static/images/lcm-icon3.png'|base_url}}">
        <h3>Customizable
            Product Design</h3>
        <p>802.11 b/g/n WIFI
            1000M Ethernet Module
            Multi-channel Serial & USB Port</p>
    </div>
</div>