<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Product Property</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="project-list">

                            <table class="table table-hover">
                                <thead>
                                <th>Property</th>
                                <th>Operater</th>
                                </thead>
                                <tbody>
                                {{foreach $category_list as $category}}
                                <tr>
                                    <td class="cate-name">{{$category}}</td>
                                    <td>
                                        <a href="{{'category/product_property'|base_url}}?parent={{$category}}"
                                           class="btn btn-primary btn-sm"><i class="fa fa-folder-open-o"></i>
                                            Complete The Property
                                        </a>
                                    </td>
                                </tr>
                                {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .jstree-default .jstree-icon.none {
        width: 0
    }
</style>
<script>
    $(document).ready(function () {
        $(".add-btn").on("click", function () {
            console.log($("#add-level").find("input[name='name']"));
            $("#add-level").find("input[name='name']").trigger("click").focus();
        });
        $(".edit-btn").on("click", function () {
            var id = $(this).parents("tr").find(".cate-id").text();
            var name = $(this).parents("tr").find(".cate-name").text();
            var has_child = $(this).parents("tr").find(".has_child").text();
            console.log(has_child);
            $("#edit-level").find("input[name='name']").val(name);
            $("#edit-level").find("input[name='id']").val(id);
            $("#edit-level select[name='has_child'] option").each(function () {
                if ($(this).val() == has_child) {
                    console.log($(this).val());
                    $(this).prop("selected", "selected");
                    if (has_child == 1) {
                        $("#edit-form .div-href").hide();
                    }
                }
            })

        });
        $("#edit-form select[name='has_child']").on("change", function () {
            $("#edit-form input[name='href']").val("");
            if ($(this).val() == "1") {

                $("#edit-form .div-href").hide();
            }
            else {
                $("#edit-form .div-href").show();
            }
        });
        $(".delete-btn").on("click", function () {
            var id = $(this).parents("tr").find(".cate-id").text();
            layer.confirm('Do you want to delete this category and those sub category？', {
                btn: ['confirm', 'cancle'], //按钮
                title:'Delete Confirm'
            }, function () {
                $.post("{{'category/delete_cate'|base_url}}", {id: id}, function (res) {
                    if (res.ecode == 0) {
                        layer.msg(res.result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000)
                    }
                    else {
                        layer.msg(res.emsg);
                    }
                })
            }, function () {
            });
        });
        $("#edit-submit").on("click", function () {
            $.post("{{'category/edit_cate'|base_url}}", $(".edit-level").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000)
                }
                else {
                    layer.msg(res.emsg);
                }
            });
        });
        $("#menu-level").on("click", function () {
            $.post("{{'category/add_cate'|base_url}}", $(".add-level").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000)
                }
                else {
                    layer.msg(res.emsg);
                }
            });
        });
    });
</script>