<div class="row demo-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>DEMO</h1>
        </div>
    </div>
</div>
<div class="service-cont">
    <div class="service-row">
        <div class="demo-desc">
            <div class="demo-title">
                <h2>Automotive</h2>
            </div>
            <div class="demo-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
        <div class="service-pic row1">
            <img src="{{'static/images/demo-row1.jpg'|base_url}}">
        </div>

    </div>
    <div class="service-row">
        <div class="service-pic row2">
            <img src="{{'static/images/demo-row2.jpg'|base_url}}">
        </div>
        <div class="demo-desc">
            <div class="demo-title">
                <h2>medical</h2>
            </div>
            <div class="demo-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
    </div>
    <div class="service-row">
        <div class="demo-desc">
            <div class="demo-title">
                <h2>other</h2>
            </div>
            <div class="demo-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
        <div class="service-pic row3">
            <img src="{{'static/images/demo-row3.jpg'|base_url}}">
        </div>
    </div>
</div>