<div class="row demo-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>DEMO</h1>
        </div>
    </div>
</div>
<div class="service-cont">
    <div class="service-row">
        <div class="demo-desc">
            <div class="demo-title">
                <h2>Medical Devices</h2>
            </div>
            <div class="demo-text">
                Medical device GUIs must be easy to use, thoroughly tested and fail-safe — because 
                lives are on the line! Proculus’ user interface development tools are a proven 
                solution for developing and deploying custom GUIs for high reliability devices. 
                This demonstration project shows the functions of heart rate curve, blood pressure 
                measurement, etc. Click here to download the whole project.                
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
        <div class="service-pic row1">
            <img src="{{'static/images/demo-row1.jpg'|base_url}}">
        </div>

    </div>
    <div class="service-row">
        <div class="service-pic row2">
            <img src="{{'static/images/demo-row2.jpg'|base_url}}">
        </div>
        <div class="demo-desc">
            <div class="demo-title">
                <h2>Engineering</h2>
            </div>
            <div class="demo-text">
                GUIs for engineering industry is often sophisticated. 
                It is often shown with diagrams and dashboard to realize the 
                display and control of data. This project contains some designs of dashboard, 
                incremental adjustment buttons and switch of different modes. 
                Click here to download.
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
    </div>
    <div class="service-row">
        <div class="demo-desc">
            <div class="demo-title">
                <h2>Consuming Applications</h2>
            </div>
            <div class="demo-text">
                Home appliances, thermostats, retailing vendor machines, etc.. 
                Many of these IoT products require an embedded GUI so users can access 
                features and functionality that make their lives easier, safer, better. 
                This project contains demonstration of a coffee machine’s functions.                
            </div>
            <div class="demo-btn">
                <a href="#"><button class="learn-btn">Learn More</button></a>
            </div>
        </div>
        <div class="service-pic row3">
            <img src="{{'static/images/demo-row3.jpg'|base_url}}">
        </div>
    </div>
</div>
