<div class="row demo-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>DEMO</h1>
        </div>
    </div>
</div>
<div class="service-cont">
    <div class="service-row">
        <div class="demo-desc left-desc">
            <div class="demo-title">
                <h2>{{if $demo.first_title}}{{$demo.first_title}}{{/if}}</h2>
            </div>
            <div class="demo-text">
                {{if $demo.first_content}}{{$demo.first_content}}{{/if}}
            </div>
            <div class="demo-btn">
                <a href="{{if $demo.first_down}}{{$demo.first_down}}{{/if}}"><button class="learn-btn">Download</button></a>
            </div>
        </div>
        <div class="service-pic row1">
            <img src="{{'static/images/demo-row1.jpg'|base_url}}">
        </div>

    </div>
    <div class="service-row">
        <div class="service-pic row2">
            <img src="{{'static/images/demo-row2.jpg'|base_url}}">
        </div>
        <div class="demo-desc right-desc">
            <div class="demo-title">
                <h2>{{if $demo.second_title}}{{$demo.second_title}}{{/if}}</h2>
            </div>
            <div class="demo-text">
                {{if $demo.second_content}}{{$demo.second_content}}{{/if}}
            </div>
            <div class="demo-btn">
                <a href="{{if $demo.second_down}}{{$demo.second_down}}{{/if}}"><button class="learn-btn">Download</button></a>
            </div>
        </div>
    </div>
    <div class="service-row">
        <div class="demo-desc left-desc">
            <div class="demo-title">
                <h2>{{if $demo.third_title}}{{$demo.third_title}}{{/if}}</h2>
            </div>
            <div class="demo-text">
                {{if $demo.third_content}}{{$demo.third_content}}{{/if}}
            </div>
            <div class="demo-btn">
                <a href="{{if $demo.third_down}}{{$demo.third_down}}{{/if}}"><button class="learn-btn">Download</button></a>
            </div>
        </div>
        <div class="service-pic row3">
            <img src="{{'static/images/demo-row3.jpg'|base_url}}">
        </div>
    </div>
</div>
