<div class="row developer_cont">
    <div class="wrapper-top">
        <div class="develop-title-top title-top">
            <h1>DEVELOPER KIT</h1>
        </div>
    </div>
</div>
<div class="kit-cont">
    <div class="kit-left">
        <div class="quick-title">
            <h2>QUICK START</h2>
            <p>For quick start Proculus Technologies offer a starter LCD Evaluation Kit for basic understanding of
                displays</p>
        </div>
        <div class="pic-change dot1 active">
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn01.png'|base_url}}"></div>
                <p>UnicView AD for Advanced Design firmware LCMs</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn02.png'|base_url}}"></div>
                <p>Proculus display with UnicView Graphical Software</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn03.png'|base_url}}"></div>
                <p>Downloading board for laptop connection</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn04.png'|base_url}}"></div>
                <p>USB-Mini cable for online debugging</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn05.png'|base_url}}"></div>
                <p>USB device interface for quick debugging and fast prototyping</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn06.png'|base_url}}"></div>
                <p>Cables for connection between display and laptop</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn07.png'|base_url}}"></div>
                <p>Preloaded demo to verify all functions</p>
            </div>
            <!-- <div class="kit-display">
                <img src="{{'static/images/kit_icn02.png'|base_url}}">
                <p>UnicView AD for Advanced Design firmware LCMs</p>
            </div> -->
        </div>
        <div class="pic-change dot2" style="display: none">
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn11.png'|base_url}}"></div>
                <p>Thorough and Magnificent GUI functions</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn12.png'|base_url}}"></div>
                <p>Powerful and integrated Unicview systems</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn13.png'|base_url}}"></div>
                <p>Encrypt on-the-fly Technology</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn14.png'|base_url}}"></div>
                <p>16-bit/24-bit Color UART LCM</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn15.png'|base_url}}"></div>
                <p>High Vibration Resistance</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn16.png'|base_url}}"></div>
                <p>High Weather Resistance (-40℃ to 70℃)</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn17.png'|base_url}}"></div>
                <p>Intrnsic Fonts Library</p>
            </div>
            <div class="kit-display">
                <div class="kitimg"><img src="{{'static/images/kit_icn18.png'|base_url}}"></div>
                <p>Aging Test & Three Coating</p>
            </div>
        </div>
        <div class="change-dot">
            <p class="dot1 active"></p>
            <p class="dot2"></p>
        </div>
        <div class="kit-buy">
            <p>4.3'' and 7'' sample kit with UnicView Pass available, please click here to buy.</p>
            <a href="{{'order/index'|base_url}}">
                <button class="learn-btn">Buy Now</button>
            </a>
        </div>
    </div>
    <div class="kit-right">
        <img style="width: 100%" src="{{'static/images/kit_right.jpg'|base_url}}">
    </div>
</div>
<script>
    $(function () {
        $(".change-dot p").on("click", function () {
            if (!$(this).hasClass("active")) {
                $(".change-dot p").each(function () {
                    $(this).removeClass("active");
                });
                $(this).addClass("active");
            }
            $(".pic-change").each(function () {
                $(this).removeClass("active");
            });
            if ($(this).hasClass("dot1")) {
                $(".pic-change.dot1").addClass("active");
            }
            else {

                $(".pic-change.dot2").addClass("active");
            }
            $(".pic-change.dot1").slideToggle();
            $(".pic-change.dot2").slideToggle();

        })
    })
</script>
