<div class="module-wapper">
    <div class="bread">
        <p>HOME</p>
        <icon class="iconfont">&#xe648;</icon>
        <p>PRODUCT OVERVIEW</p>
        <icon class="iconfont current">&#xe648;</icon>
        <p class="current">TFT MODULES</p>
    </div>
    <div class="module-cont">
        <div class="intro-cont">
            <h2>{{$product.name}}</h2>
            <div class="intro-desc">
                {{$product.pro_desc}}
            </div>
            <div class="tip-change">
                <ul>
                    <li class="tip-href detail active">DETAILS</li>
                    <li class="tip-href download">DOWNLOADS</li>
                    <li class="tip-empty">&nbsp;</li>
                </ul>
                <div class="tip-list detail">
                    {{foreach $desc as $key => $item}}
                    <div class="tips{{if $key == "DOWNLOAD METHOD"}} long-title{{/if}}">
                        <div class="tip-title">
                            {{$key}}
                        </div>
                        <div class="tip-text">
                            {{$item}}
                        </div>
                    </div>
                    {{/foreach}}
                </div>
                <div class="tip-list download" style="display: none">
                    <div class="left-data data">
                        {{if $download.DATASHEET}}
                        <div class="data-box">
                            <h4>DATASHEET</h4>
                            {{foreach $download.DATASHEET as $down}}
                            <a target="_blank" href="{{'upload/file/'|base_url}}{{$down.filename}}">
                                <div class="download-list">
                                    <div class="down-icon">
                                        <icon class="iconfont">&#xe68f;</icon>
                                    </div>
                                    <div class="down-cont">
                                        <div class="down-title">
                                            {{$down.filename|strstr:".":"TRUE"}}
                                        </div>
                                        <div class="down-text">
                                            Size : {{$down.size}}Mb　Revision : {{$down.create_time|date_format:"%Y-%m-%d"}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{/foreach}}
                        </div>
                        {{/if}}
                        {{if $download.EXTRAS}}
                        <div class="data-box">
                            <h4>EXTRAS</h4>
                            {{foreach $download.EXTRAS as $down}}
                            <a target="_blank" href="{{'upload/file/'|base_url}}{{$down.filename}}">
                                <div class="download-list">
                                    <div class="down-icon">
                                        <icon class="iconfont">&#xe68f;</icon>
                                    </div>
                                    <div class="down-cont">
                                        <div class="down-title">
                                            {{$down.filename|strstr:".":"TRUE"}}
                                        </div>
                                        <div class="down-text">
                                            Size : {{$down.size}}Mb　Revision : {{$down.create_time|date_format:"%Y-%m-%d"}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{/foreach}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="right-data data">
                        {{if $download.DRIVER_DATASHEET}}
                        <div class="data-box">
                            <h4>Driver DATASHEET</h4>
                            {{foreach $download.DRIVER_DATASHEET as $down}}
                            <a  target="_blank" href="{{'upload/file/'|base_url}}{{$down.filename}}">
                                <div class="download-list">
                                    <div class="down-icon">
                                        <icon class="iconfont">&#xe68f;</icon>
                                    </div>
                                    <div class="down-cont">
                                        <div class="down-title">
                                            {{$down.filename|strstr:".":"TRUE"}}
                                        </div>
                                        <div class="down-text">
                                            Size : {{$down.size}}Mb　Revision : {{$down.create_time|date_format:"%Y-%m-%d"}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {{/foreach}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-pic">
            <img src="{{'upload/file/'|base_url}}{{$pic}}">
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        $(".tip-href").on("click", function () {
            $(".tip-href").each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
            $(".tip-list").each(function () {
                $(this).hide();
            });
            if ($(this).hasClass("detail")) {
                $(".tip-list.detail").show();
            }
            else {
                $(".tip-list.download").show();
            }

        })

    })

</script>

