<div class="row overview-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>TFT & LCD MODULES</h1>
        </div>
        <form id="modules" name="modules" action="{{'product/modules'|base_url}}" method="get">
            <div class="select-modules">
                <div class="select-cont">
                    <ul>
                        {{foreach $category_list as $catename => $cate}}
                        <li>
                            {{if $catename == "Catalog"}}
                            <h2>Level</h2>
                            <select name="Level">
                                <option value="">Search Level</option>
                            {{else}}
                            <h2>{{$catename}}</h2>
                            <select name="{{$catename}}">
                                <option value="">Search {{$catename}}</option>
                            {{/if}}
                                {{foreach $cate as $cate_info}}
                                <option value="{{$cate_info.name}}">{{$cate_info.name}}</option>
                                {{/foreach}}
                            </select>
                        </li>
                        {{/foreach}}
                    </ul>
                </div>
                <div class="select-submit-btn">
                    <button type="submit" class="select-btn">APPLY</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="soft-overview">
    <div class="soft-toggle-tip">
        <div class="down-catalog">
            <a href="#">
                <icon class="iconfont">&#xe68f;</icon>
                Product Catalog</a>
        </div>
        <div class="down-right widewidth">
            <ul class="down-head">
                <li class="downfile">Part Number</li>
                <li class="filetype">Display</li>
                <li class="downfile">Application Use</li>
                <li class="downfile">Resolution</li>
                <li class="downfile">Brightness</li>
                <li class="downfile">Interface</li>
                <li class="downfile">Input Voltage</li>
            </ul>
            {{foreach $product_list as $product}}
            <a href="{{'product/display_view'|base_url}}?id={{$product.id}}">
                <ul class="down-list">
                    <li class="downfile">{{$product.Part_Number}}</li>
                    <li class="filetype">{{$product.Size}}</li>
                    <li class="downfile">{{$product.Catalog}}</li>
                    <li class="downfile">{{$product.Resolution}}</li>
                    <li class="downfile">{{$product.Brightness}}</li>
                    <li class="downfile">{{$product.Interface}}</li>
                    <li class="downfile">{{$product.Input_Voltage}}</li>

                </ul>
            </a>
            {{/foreach}}
        </div>
        <!--<div class="dataTables_paginate paging_simple_numbers text-center">-->
            <!--<ul class="pagination">-->
                <!--<li><a href="">Home</a></li>-->
                <!--<li><a href="">Previous</a></li>-->
                <!--<li class="active"><a href="">2</a></li>-->
                <!--<li><a href="">3</a></li>-->
                <!--<li><a href="">4</a></li>-->
                <!--<li><a href="">Next</a></li>-->
                <!--<li><a href="">End</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        {{$pagelist}}
    </div>
</div>