<div class="row overview-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>TFT & LCD MODULES</h1>
        </div>
        <div class="select-modules">
            <div class="select-cont">
                <ul>
                    <li>
                        <h2>
                            Display
                        </h2>
                        <select>
                            <option>

                            </option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="soft-cont">
    <div class="soft-toggle-tip">
        <ul>
            <li class="active"><a href="{{'software/downloads'|base_url}}">Downloads</a></li>
            <li><a href="{{'software/tutorials'|base_url}}">Tutorials</a></li>
            <li><a href="{{'software/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
</div>