<div class="row product-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>exceeding the expectations</h1>
        </div>
    </div>
</div>
<div class="over-ask">
    <h2>What will you build with Proculus?</h2>
    <p>Poculus Technologies provides an overall intelligent display module solution, operation-visualized software and
        high quality display. It is easy to use, cost-effective for hardware display as fast-to-market, especiallyin
        medical devices, vendor machines, as well as embedded world.</p>
</div>
<div class="icon-cont">
    <div class="icon-div">
        <a href="{{'product/unic_view'|base_url}}">
            <img src="{{'static/images/view_icon_01.png'|base_url}}">
            <h2>UNIC View</h2>
        </a>
    </div>
    <div class="icon-div">
        <a href="{{'product/display_view'|base_url}}">
            <img src="{{'static/images/view_icon_02.png'|base_url}}">
            <h2>Displays</h2>
        </a>
    </div>
    <div class="icon-div">
        <a href="{{'product/developer_kit'|base_url}}">
            <img src="{{'static/images/view_icon_03.png'|base_url}}">
            <h2>Development Kit</h2>
        </a>
    </div>
    <div class="icon-div">
        <a href="{{'product/android'|base_url}}">
            <img src="{{'static/images/view_icon_04.png'|base_url}}">
            <h2>Android LCM</h2>
        </a>
    </div>
</div>
<div class="view-cont">
    <div class="left-view">
        <div class="view-img">
            <a href="{{'product/unic_view'|base_url}}">
                <img src="{{'static/images/over_r1c1.jpg'|base_url}}">
            </a>
            <div class="buy-div">
                <h3>UNIC VIEW</h3>
                <a href="#">
                    <button class="buy-btn">Buy</button>
                </a>
            </div>
        </div>
        <div class="view-img">
            <a href="{{'product/developer_kit'|base_url}}">
                <img src="{{'static/images/over_r2c1.jpg'|base_url}}">
            </a>
            <div class="buy-div">
                <h3>DEVELOPER KIT</h3>
                <a href="#">
                    <button class="buy-btn">Buy</button>
                </a>
            </div>
        </div>
    </div>
    <div class="right-view">
        <div class="view-img">
            <a href="{{'product/display_view'|base_url}}">
                <img src="{{'static/images/over_r1c2.jpg'|base_url}}">
            </a>
            <div class="buy-div">
                <h3>DISPALYS</h3>
                <a href="#">
                    <button class="buy-btn">Buy</button>
                </a>
            </div>
        </div>
        <div class="view-img">
            <a href="{{'product/android'|base_url}}">
                <img src="{{'static/images/over_r2c2.jpg'|base_url}}">
            </a>
            <div class="buy-div">
                <h3>SERVICES</h3>
                <a href="#">
                    <button class="buy-btn">Buy</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="overview-subscribe">
    <p>This is is a product development platform with customizable features that accelerates time to market and reduces
        overall development costs.</p>
    <button id="sub" class="learn-btn">Subscribe</button>
</div>
<script type="application/javascript">
    $(function () {
        $("#sub").on("click", function () {
            layer.prompt({
                formType: 0,
                value: 'Please enter your email',
                title: 'Subscribe',
                btn: ['confirm', 'close'],
                area: ['500px', '20rem'] //自定义文本域宽高
            }, function (value, index, elem) {
                layer.msg(value);
                layer.close(index);
            });
        })
    })
</script>