<div class="row overview-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>TFT & LCD MODULES</h1>
        </div>
        <form>
            <div class="select-modules">
                <div class="select-cont">
                    <ul>
                        <li>
                            <h2>Display</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                        <li>
                            <h2>Application Use</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                        <li>
                            <h2>Resolution</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                        <li>
                            <h2>Brightness(nits)</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                        <li>
                            <h2>Interface</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                        <li>
                            <h2>Input Voltage</h2>
                            <select>
                                <option value="0">All</option>
                                <option value="0">3.5''</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="select-submit-btn">
                    <button class="select-btn">APPLY</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="soft-overview">
    <div class="soft-toggle-tip">
        <div class="down-catalog">
            <a href="#">
                <icon class="iconfont">&#xe68f;</icon>
                Product Catalog</a>
        </div>
        <div class="down-right widewidth">
            <ul class="down-head">
                <li class="downfile">Part Number</li>
                <li class="filetype">Display</li>
                <li class="downfile">Application Use</li>
                <li class="downfile">Resolution</li>
                <li class="downfile">Brightness</li>
                <li class="downfile">Interface</li>
                <li class="downfile">Input Voltage</li>
            </ul>
            <ul class="down-list">
                <li class="downfile">P32240V35C_T07</li>
                <li class="filetype">3.5''</li>
                <li class="downfile">Consumer</li>
                <li class="downfile">320x240</li>
                <li class="downfile">400</li>
                <li class="downfile">TTL</li>
                <li class="downfile">5V</li>
            </ul>
            <ul class="down-list">
                <li class="downfile">P32240V35C_T07</li>
                <li class="filetype">3.5''</li>
                <li class="downfile">Consumer</li>
                <li class="downfile">320x240</li>
                <li class="downfile">400</li>
                <li class="downfile">TTL</li>
                <li class="downfile">5V</li>
            </ul>
            <ul class="down-list">
                <li class="downfile">P32240V35C_T07</li>
                <li class="filetype">3.5''</li>
                <li class="downfile">Consumer</li>
                <li class="downfile">320x240</li>
                <li class="downfile">400</li>
                <li class="downfile">TTL</li>
                <li class="downfile">5V</li>
            </ul>
            <ul class="down-list">
                <li class="downfile">P32240V35C_T07</li>
                <li class="filetype">3.5''</li>
                <li class="downfile">Consumer</li>
                <li class="downfile">320x240</li>
                <li class="downfile">400</li>
                <li class="downfile">TTL</li>
                <li class="downfile">5V</li>
            </ul>
            <ul class="down-list">
                <li class="downfile">P32240V35C_T07</li>
                <li class="filetype">3.5''</li>
                <li class="downfile">Consumer</li>
                <li class="downfile">320x240</li>
                <li class="downfile">400</li>
                <li class="downfile">TTL</li>
                <li class="downfile">5V</li>
            </ul>
        </div>
        <div class="dataTables_paginate paging_simple_numbers text-center">
            <ul class="pagination">
                <li><a href="">Home</a></li>
                <li><a href="">Previous</a></li>
                <li class="active"><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">Next</a></li>
                <li><a href="">End</a></li>
            </ul>
        </div>
    </div>
</div>