<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Category list</h5>
                        <div class="ibox-tools">
                            <a  class="btn btn-primary btn-xs add-btn" href="{{'category/add_product'|base_url}}">Add Product Category</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="project-list">

                            <table class="table table-hover table-bordered table-responsive">
                                <thead>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Pic</th>
                                {{foreach $category_list as $category}}
                                <th>{{$category.name}}</th>
                                {{/foreach}}
                                <th>Create Time</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                {{foreach $product_list as $product_info}}
                                <tr>
                                    {{foreach $product_info as $key => $item}}
                                    {{if $key == "pic"}}
                                    <td  class="pro-pic" data-pic="{{$product_info.id}}"><i class="fa fa-image"></i></td>
                                    {{else if $key == "create_time"}}
                                    <td>{{$item|date_format:"%Y-%m-%d %H:%m:%S"}}</td>
                                    {{else}}
                                    <td>{{$item}}</td>
                                    {{/if}}
                                    {{/foreach}}
                                    <td><button class="btn-danger btn delete-product" data-id="{{$product_info.id}}">Delete</button></td>
                                </tr>
                                {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>