<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Category list</h5>
                        <div class="ibox-tools">
                            <a  class="btn btn-primary btn-xs add-btn" href="{{'category/add_product'|base_url}}">Add New Product</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="project-list">

                            <table class="table table-hover table-responsive">
                                <thead>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Pic</th>
                                {{foreach $category_list as $category => $item}}
                                <th>{{$category}}</th>
                                {{/foreach}}
                                <th>Create Time</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                {{foreach $product_list as $product_info}}
                                <tr>
                                    <td>{{$product_info.id}}</td>
                                    <td>{{$product_info.name}}</td>
                                    <td  class="pro-pic" data-pic="{{'upload/file/'|base_url}}{{$product_info.pic}}"><i class="fa fa-image"></i></td>
                                    <td>{{$product_info.Part_Number}}</td>
                                    <td>{{$product_info.Size}}</td>
                                    <td>{{$product_info.Catalog}}</td>
                                    <td>{{$product_info.Resolution}}</td>
                                    <td>{{$product_info.Brightness}}</td>
                                    <td>{{$product_info.Interface}}</td>
                                    <td>{{$product_info.Input_Voltage}}</td>
                                    <td>{{$product_info.Working_Platform}}</td>
                                    <td>{{$product_info.Download_Method}}</td>
                                    <td>{{$product_info.Cable&Connector}}</td>
                                    <td>{{$product_info.create_time|date_format:"%Y-%m-%d %H:%m:%S"}}</td>
                                    <td><button class="btn-danger btn delete-product" data-id="{{$product_info.id}}">Delete</button></td>
                                </tr>
                                {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                        {{$pagelist}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="show-pic" class="pop-porduct-pic">
    <img style="width: 100%" src="">
</div>
<script type="application/javascript">
    $(function () {
        $(".pro-pic").on("click", function () {
            var url = $(this).data("pic");
            $("#show-pic img").prop("src", url);
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: '516px',
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: $("#show-pic")
            });

        });
        $(".delete-product").on("click", function () {
            var id = $(this).data("id");
            $.post("{{'category/delete_product'}}", {id:id}, function (res) {
                if(res.ecode == 0)
                {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000)
                }
            });
        })
    })
</script>