<div class="row unic-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>UnicView Suite</h1>
            <h2>user next interface composer</h2>
        </div>
    </div>
</div>
<div class="unic-ask">
    <p>UnicView AD (Advanced Design) is a GUI Designer used to create the configuration project for AD LCMs. It provides
        an intuitive environment to create quickly create Human-Machine Graphical Interfaces. Developers just drag and
        drop the Interface Objects, configure their parameters and the LCM will communicate in a simple 5-command
        protocol with the external controller.</p>
</div>
<div class="unic-cont">
    <div class="design-list">
        <div class="unic-text">
            <h2>
                USER FRIENDLY DESIGN
            </h2>
            <p>
                Import images to the project and never waste time again developing GUIs. The suite includes every tool
                necessary for the design of an attractive and intuitive graphical interface.
            </p>
        </div>
        <div class="unic-pic">
            <img src="{{'static/images/unic_row2.webp'|base_url}}">
        </div>
    </div>
    <div class="design-list">
        <div class="unic-pic">
            <img src="{{'static/images/unic_row1.webp'|base_url}}">
        </div>
        <div class="unic-text">
            <h2>
                CONSTANT UPDATES
            </h2>
            <p>
                All products on the UnicView Suite are in constant improving process: adding new features, enhancing
                usability and making the GUI development cycle easier for all developers.
            </p>
        </div>
    </div>
</div>
<div class="hide-btn">
    <icon class="iconfont">&#xe7d5;</icon>
    <span>Check all the Features</span>
</div>
<div class="unic-feature">
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon1.png'|base_url}}">
            <h3>Visual "Drag & Drop" Editor</h3>
        </div>
        <div class="unic-desc">
            <p>Interface Objects (or Elements) are placed simply by dragging and dropping over the Screen canvas.</p>
            <p>All Interface Objects' Properties (e.g. Font Color, Position, etc.) for the selected Objects can be
                quickly edited on the "Properties" panel.</p>
            <p>
                Rearrange, Resize, Reorder - All the common layout tools are available, for an intuitive and smooth
                work.
            </p>
            <p>Undo and Redo functions for all manipulations on Interface Objects.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon2.png'|base_url}}">
            <h3>Library Editors</h3>
        </div>
        <div class="unic-desc">
            <p>Create and modify Image, Icon and Font libraries very quickly. Any modifications on the libraries update
                the project structure automatically when it's compiled.</p>
            <p>
                Just drag and drop image file to the Image and Icon library editors to add new resources to the project.
            </p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon3.png'|base_url}}">
            <h3>No Coding Skills Required</h3>
        </div>
        <div class="unic-desc">
            <p>Software Developers, Graphical Designers, Businessmen - Anyone can use the software and colaborate to the
                project development process.
            </p>
            <p>
                Project can be split across a team: a Graphical Design Expert can create the Screen Backgrounds, while
                a Software Engineer decides what the Object Address mapping show be like.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon4.png'|base_url}}">
            <h3>Clean and Accessible Project Structure</h3>
        </div>
        <div class="unic-desc">
            <p>All files in the project are neatly arranged in a project-based folder structure.</p>
            <p>After compilation, all addresses, initial memory values and allocation indices can be accessed by the
                developer in charge of application-side integration.
            </p>
            <p>
                CSV format export for memory and allocation tables.
            </p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon5.png'|base_url}}">
            <h3>In-Project Design Tools</h3>
        </div>
        <div class="unic-desc">
            <p>Each Screen may have a color overlay, making it easy to create a "dim" or "brighter" look on the
                background images, for example.
            </p>
            <p>
                Internet-based image resource repository is planned for upcoming versions. This will provide users with
                a large image database for creating projects even faster.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon6.png'|base_url}}">
            <h3>Modbus-Ready</h3>
        </div>
        <div class="unic-desc">
            <p>UnicView AD has built-in support for Modbus communication settings (on Modbus-ready Proculus AD LCMs)
            </p>
            <p>
                After compilation, all addresses, initial memory values and allocation indices can be accessed by the
                developer in charge of application-side integration.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon7.png'|base_url}}">
            <h3>Backup and Auto-save Capabilities</h3>
        </div>
        <div class="unic-desc">
            <p>Users can set how often the project should be automatically saved.
            </p>
            <p>
                UnicView AD can optionally keep a number of backup project points, in case of unexpected system
                failure.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon8.png'|base_url}}">
            <h3>One-Click PC - LCM Project Download</h3>
        </div>
        <div class="unic-desc">
            <p>Projects can be downloaded to the LCM via USB or SD Card. It's as easy as clicking "Download".
            </p>
            <p>
                Users may choose which file formats send to the LCM.
            </p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon9.png'|base_url}}">
            <h3>Automatic Firmware Database Download</h3>
        </div>
        <div class="unic-desc">
            <p>UnicView AD automatically downloads the latest Firmware information upon start-up.</p>
            <p>
                Interface Objects that are not supported by the current selected Firmware are disabled.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon10.png'|base_url}}">
            <h3>Clean Compilation Report</h3>
        </div>
        <div class="unic-desc">
            <p>After compilation, all results are shown on the "Output" panel.
                Any errors or warnings are readly available to the user.
            </p>
            <p>
                Interface Objects present on the project that are not supported by the current selected Firmware are
                notified as warnings.</p>
        </div>
    </div>
    <div class="unic-list">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon11.png'|base_url}}">
            <h3>Integrated Serial Terminal</h3>
        </div>
        <div class="unic-desc">
            <p>Built-in Serial Terminal grants quick LCM debbuging and communication.
            </p>
            <p>
                Provides one-click Firmware and Project download to LCM.</p>
        </div>
    </div>
    <div class="unic-list no-boder">
        <div class="unic-title">
            <img src="{{'static/images/unic_icon12.png'|base_url}}">
            <h3>Easy to Learn</h3>
        </div>
        <div class="unic-desc">
            <p>Video Tutorials</p>
            <p> Demonstration Projects</p>
            <p> Quick Tips and Examples</p>
            <p>Complete Advanced Documentation</p>
        </div>
    </div>
    <div class="close-btn">
        <icon class="iconfont">&#xe616;</icon>
    </div>
</div>