<div class="row unic-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top" style="margin-bottom: 3rem">
            <h1>UnicView Suite</h1>
            <h2>user next interface composer</h2>
        </div>
    </div>
</div>
<div class="unic-ask">
    <p>UnicView AD (Advanced Design) is a GUI Designer used to create the configuration project for AD LCMs. It provides an intuitive environment to create quickly create Human-Machine Graphical Interfaces. Developers just drag and drop the Interface Objects, configure their parameters and the LCM will communicate in a simple 5-command protocol with the external controller.</p>
</div>
<div class="unic-cont">
    <div class="design-list">
        <div class="unic-text">
            <h2>
                USER FRIENDLY DESIGN
            </h2>
            <p>
                Import images to the project and never waste time again developing GUIs. The suite includes every tool necessary for the design of an attractive and intuitive graphical interface.
            </p>
        </div>
        <div class="unic-pic">
            <img src="">
        </div>
    </div>
    <div class="design-list">
        <div class="unic-pic">
            <img src="">
        </div>
        <div class="unic-text">
            <h2>
                CONSTANT UPDATES
            </h2>
            <p>
                All products on the UnicView Suite are in constant improving process: adding new features, enhancing usability and making the GUI development cycle easier for all developers.
            </p>
        </div>
    </div>
</div>