.tagsContaine .tagList,.tagsContaine .tagInput{
	float: left;
}

.tagsContaine .tagList .tagItem{
	line-height: 2.5rem;
	background-color: #1ab394;
	padding: 0.2rem 0.5rem;
	text-align: center;
	float: left;
	margin: 5px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 2px;
	cursor: pointer;
}
.tagsContaine .tagList .tagItem:hover{
	background-color: #18a689;
}
.tagsContaine .tagList .tagItem .delete{
	float: right;
	width: 15px;
	height: 15px;
	background-image: url(../images/x.png);
	background-repeat: round;
	margin-top: -10px;
	margin-right: -10px;
	display: none;
}
.tagsContaine .tagList .tagItem:hover .delete{
	display: block;
}

.tagsContaine .tagList .updateInput{
	outline: none;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border: solid thin #AAAAAA;
	border-radius: 5px;
	margin: 5px;
	padding: 0px 5px;
	text-align: center;
	float: left;
		
}
.tagsContaine .tagInput{
	outline: none;
	height: 31px;
	line-height: 40px;
	font-size: 14px;
	border: 1px solid #e5e6e7;
	border-radius: 1px;
	margin: 5px;
	padding: 0px 5px;
	text-align: center;
	width: 30%;
}
.tagsContaine .tagInput:focus{
	border-color: #18a689;
}
