<!--PAGE TRANSITION START-->
<div class="row about-wapper nav-padding-top">
    <div class="wrapper-top">
        <img class="img-top" src="{{'static/images/about-us icon.png'|base_url}}" />
        <div class="title-bottom">
            <h1>ABOUT US</h1>
        </div>
    </div>
</div>
<div class="about-top">
    <h2>EXPERT IN PRODUCTION OF INTELLIGENT LCD & TFT SOLUTIONS</h2>
</div>
<div class="service-cont" style="border: 0;">
    <div class="service-row">
        <div class="about-desc left-desc">
            <div class="about-title">
                <h2>WHO ARE WE?</h2>
            </div>
            <div class="about-text">
                Founded in the year of 2010, Proculus Technologies has been 
                putting concentration on intelligent display solution with an 
                easy-to-go software UnicView which empowers user to have a more 
                cost-effective and quicker access to finish the GUIs as well as 
                communication with embedded system. Unlike other user interface 
                technologies, the strength that we emphasize is visualization of 
                interface design from low cost software and simplification of 
                programming in project construction as well as easy-to-use in processing.
            </div>
        </div>
        <div class="service-pic row1">
            <img src="{{'static/images/about_row1.jpg'|base_url}}"/> 
        </div>
    </div>
    <div class="service-row">
        <div class="service-pic row2">
            <img src="{{'static/images/about_row2.jpg'|base_url}}"/> <!--img address-->
        </div>
        <div class="about-desc right-desc">
            <div class="about-title">
                <h2>WHAT WE DO?</h2>
            </div>
            <div class="about-text">
                Proculus Technologies intelligent display solution empowers users 
                to easily attain their desired HMI with minimal time as well as cost 
                effective. As an overall design-to-display touch screen solution provider, 
                Proculus Technologies saved lots of troubles for users in terms of researching 
                and developing on display part by providing an entire solution including 
                professional software and stable plug-and-play hardware.
                
            </div>
        </div>	
    </div>
    <div class="service-row">
        <div class="our-service">
            <h2>OUR SERVICE</h2>
            <div class="our-text">
                Proculus provides simple, cost-effective 
                and easy to learn Liquid Crystal Modules (LCM) 
                that make possible the creation of beautiful and 
                responsive raphical User Interfaces (GUI) quickly 
                and without any complications. Using our solution, 
                you can obtain magnificent display effects easily 
                and quickly, with less  programming than you think.
                Our LCM products combine Liquid Crystal Displays (LCD),
                touchscreen capabilities Displays (LCD), touchscreen 
                capabilities and a controller core in a single reliable 
                module. There is a wide range of robustness categories, 
                from end-consumer level to aggressive industrial 
                environments. The integrated High Quality TFT provides 
                smartphone-like interfaces, allowing your embedded product 
                to have a unique differential. With simple tools, you can 
                create personalized touchscreen interfaces with reduced 
                time and resources from R&D team.
            </div>
        </div>
    </div>
</div>

<!--WHY US SECTION START-->
<section class="module why-us" data-visible="false">
    <div class="module-background">
    </div>
    <div class="why-us-cont">
        <div class="why-us-three">
            <div class="three-cont02">
                <div class="icon easy-use">
                    <img src="{{'static/images/aboutus_icon01.png'|base_url}}"> 
                </div>
                <div class="adv-title">
                     Fast and Sufficient Lead Time
                </div>
                <div class="line"></div>
                <div class="adv2-text">
                    <p>
                        Prompt response to confirm the lead 
                        time Immediate sample available 
                        for popular part numbers 2-4 weeks
                        for production order
                    </p>

                </div>
            </div>
            <div class="three-cont02">
                <div class="icon easy-use">
                    <img src="{{'static/images/aboutus_icon02.png'|base_url}}">
                </div>
                <div class="line"></div>
                <div class="adv-title">
                    SIMPLE R&D
                </div>
                <div class="adv2-text">
                    <p>
                        Access to us at any time if any
                        problems in the course Either Skype
                        or call
                    </p>

                </div>
            </div>
            <div class="three-cont02">
                <div class="icon easy-use">
                    <img src="{{'static/images/aboutus_icon03.png'|base_url}}">
                </div>
                <div class="line"></div>
                <div class="adv-title">
                    HIGH RELIABILITY
                </div>
                <div class="adv2-text">
                    <p>
                        RMA service stand-by if hardware
                        required in case
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--WHY US SECTION END-->

<!--PAGE TRANSITION END-->
<!--PAGE TRANSITION END-->