<div class="row contact-cont">
    <!--header-->
    <!--content-->
    <div class="wrapper-top">
        <div class="content_menu">
            <img src="{{'static/images/content_menu.jpg'|base_url}}"/>
        </div>
    </div>
    <div class="center contact-con">
        <!--contact form-->
        <div class="content_contactform">
            <form action="" method="post">
                <div class="contact-name">
                    <div class="contact_firstname">
                        <p class="list_title">First Name</p>
                        <input type="text" name="first_name" value="" class="input_name"/>
                    </div>
                    <div class="mar-left-one">
                        <p class="list_title">Last Name</p>
                        <input type="text" name="last_name" value="" class="input_name"/>
                    </div>
                </div>

                <div class="clear"></div>

                <div id="form_email">
                    <p class="list_title">Email</p>
                    <input type="text" name="email" value="" class="input_normal"/>
                </div>

                <div class="form_contactnumber">
                    <p class="list_title">Contact Number</p>
                    <input type="text" name="contact_number" value="" class="input_normal"/>
                </div>

                <div class="form_contactnumber">
                    <p class="list_title">Contact Department</p>
                    <select name="contacting_department">
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="form_message">
                    <p class="list_title">Message Input</p>
                    <textarea name="message" rows="" cols=""></textarea>
                </div>
                <button class="contact-sub">SUBMIT</button>
            </form>
        </div>


        <!--address-->
        <div class="content_address">
            <div id="address_hidden">
                <div class="address_china">
                    <h2>CHINA</h2>
                    <icon class="iconfont sideright-icon">&#xe601;</icon>
                    <p style="display: inline-block">
                        Rm 1003, No.40<br/>
                        Building, Tus-park, 60 <br/>
                        Weixin Rd, SuZhou<br/>
                        215121, China
                    </p>
                    <p>
                        <icon class="iconfont sideright-icon">&#xe624;</icon>
                        +86 (512) 6588-3844
                    </p>
                    <p>
                        <icon class="iconfont sideright-icon">&#xe645;</icon>
                        sales@proculustech.com
                    </p>
                    <p>
                        <icon class="iconfont sideright-icon">&#xe609;</icon>
                        9:00-18:00 (UTC+08:00)
                    </p>
                </div>

                <div class="address_worldwide">
                    <h2>WORLDWIDE</h2>
                    <span>Proculus Technologies, Ltd.</span>
                    <icon class="iconfont sideright-icon">&#xe601;</icon>
                    <p style="display: inline-block">
                        Unit A1, 7/F, Cheuk<br/>
                        Nang Plaza 250<br/>
                        Hennessy Rd. Wanchai<br/>
                        HONGKONG, China
                    </p>
                    <p>
                        <icon class="iconfont sideright-icon">&#xe645;</icon>
                        sales@proculustech.com
                    </p>
                </div>

            </div>
        </div>
        <div class="clear"></div>

    </div>
</div>
