<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>Contact List</h5>
                </div>
                <div class="ibox-content">
                    <div class="clients-list">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Contact Number</th>
                                            <th>Department</th>
                                            <th>Message</th>
                                            <th>CreateTime</th>
                                            </thead>
                                            <tbody>
                                            {{foreach $contact_list as $contact}}
                                            <tr>
                                                <td class="client-avatar">
                                                    {{$contact.id}}
                                                </td>
                                                <td class="client-avatar">
                                                    {{$contact.first_name}}
                                                </td>
                                                <td class="client-avatar">
                                                    {{$contact.last_name}}
                                                </td>
                                                <td>
                                                    {{$contact.email}}
                                                </td>
                                                <td class="client-status">
                                                    {{$contact.contact_number}}
                                                </td>
                                                <td>
                                                    {{$contact.department}}
                                                </td>
                                                <td>{{$contact.message}}
                                                </td>
                                                <td>
                                                    {{$contact.create_time|date_format:"%Y-%m-%d %H:%m:%S"}}
                                                </td>
                                            </tr>
                                            {{/foreach}}
                                            </tbody>
                                        </table>
                                    </div>
                                    {{$pagelist}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>