<div class="row order-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>ORDER</h1>
        </div>
    </div>
</div>

<div class="order-cont" >
    <div class="order-left">
        <div class="item-change">
            <div class="item-image">
                <img src="http://placehold.it/267x252"/>
            </div>
            <div class="item-desc">
                <div class="item-title">
                    <h2>Developer Kit for UnicView AD</h2>
                </div>
                <div class="item-price">
                    <span class="price-num">198.00</span>
                </div>
                <div class="item-text">
                    This is a developer kit for 7'' industrial 
                    level use with UnicView AD. UnicView AD is the 
                    compamion software for the Advanced Design(AD) 
                    firmware LCMs. It's primarily used as a debug, 
                    test and configuring software.
                </div>
                <div class="cancel-btn">
                    <u>Cancel</u>
                </div>
            </div>
        </div>
        <div class="item-change">
            <div class="item-image">
                <img src="http://placehold.it/267x252"/>
            </div>
            <div class="item-desc">
                <div class="item-title">
                    <h2>Developer Kit for UnicView AD</h2>
                </div>
                <div class="item-price">
                    <span class="price-num">198.00</span>
                </div>
                <div class="item-text">
                    This is a developer kit for 7'' industrial 
                    level use with UnicView AD. UnicView AD is the 
                    compamion software for the Advanced Design(AD) 
                    firmware LCMs. It's primarily used as a debug, 
                    test and configuring software.
                </div>
                <div class="cancel-btn">
                    <u>Cancel</u>
                </div>
            </div>
        </div>
        
    </div>
    <div class="order-right">
        <div class="categories-title">
            <h2>Categories</h2>
        </div>
        <div class="categories-list">
            <div class="list-opt">
                <input type="checkbox" name="categories" id="list-consumer" value="consumer"  checked="checked"/>
                <label for="list-consumer">
                    Consumer Level
                    <span>2</span>
                </label>
                
            </div>
            <div class="list-opt">
                <input type="checkbox" name="categories" id="list-industrial" value="industrial" />
                <label for="list-industrial">
                    Industrial Level
                    <span>10</span>
                </label>
                
            </div>
            
            
        </div>
    </div>
    <div class="checkout">
        <button class="checkout-btn">CHECKOUT</button>
        <div class="checkout-total">
            <span>TOTAL:</span>
            <span class="price-total"></span>
        </div>
    </div>
    
</div>