<!--PAGE TRANSITION START-->
<div class="wrapper" data-loadmodule="PageTransitions">
    <main id="main-content" class="main-content" tabindex="-1">
        <div class="module hero-list home-tiles" data-loadmodule="HeroList" data-visible="false">
            <div class="hero-list-container">
                <nav class="hero-list--nav active just-moved ">
                    <ul class="hero-list--nav--items">
                        <li class="hero-list--nav--item ">
                            <a class="hero-list--nav--link active" href="#hero0">
                                <span class="hero-list--nav--link--mask">
                                    <span class="hero-list--nav--link--text">
                                        SapientRazorfish
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="hero-list--nav--item">
                            <a class="hero-list--nav--link" href="#hero1">
                                <span class="hero-list--nav--link--mask">
                                    <span class="hero-list--nav--link--text">
                                        The Six Elements of Business Transformation
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="hero-list--nav--item">
                            <a class="hero-list--nav--link" href="#hero2">
                                <span class="hero-list--nav--link--mask">
                                    <span class="hero-list--nav--link--text">
                                        A Perfect Blend for Tequila Patrón
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="hero-story list-tile light-all has-image " id="hero0">
                    <div class="module-background"
                         style="background-image:url({{'static/images/banner_big.png'|base_url}});">
                    </div>
                    <a href="http://sapientrazorfish.com" class="featured-content-link dark-hover arrow-hover"
                       target="_blank">
                        <div class="dark-overlay"></div>
                        <!-- End Link HTML for hero home page -->
                        <div class="module-content">
                            <div class="hero-content">
                                <h3 class="headline isFirst">PROCULUS</h3>
                                <h4 class="headline isSecond">TECHNOLOGIES</h4>
                                <div class="subhead isThird">Expert in GUIs with Total Solutions in Intelligent TFT LCMs
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Link HTML for hero home page -->
                </div>
                <div class="hero-story list-tile light-all has-image" id="hero1">
                    <div class="module-background"
                         style="background-image:url({{'static/images/banner_big.png'|base_url}});"
                    ></div>
                    <a href="http://sapientrazorfish.com" class="featured-content-link dark-hover arrow-hover"
                       target="_blank">
                        <div class="dark-overlay"></div>
                        <!-- End Link HTML for hero home page -->
                        <div class="module-content">
                            <div class="hero-content">
                                <h3 class="headline isFirst">PROCULUS</h3>
                                <h4 class="headline isSecond">TECHNOLOGIES</h4>
                                <div class="subhead isThird">Expert in GUIs with Total Solutions in Intelligent TFT LCMs
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Link HTML for hero home page -->
                </div>
                <div class="hero-story list-tile light-all has-image" id="hero2">
                    <div class="module-background"
                         style="background-image:url({{'static/images/banner_big.png'|base_url}});"
                    ></div>
                    <a href="http://sapientrazorfish.com" class="featured-content-link dark-hover arrow-hover"
                       target="_blank">
                        <div class="dark-overlay"></div>
                        <!-- End Link HTML for hero home page -->
                        <div class="module-content">
                            <div class="hero-content">
                                <h3 class="headline isFirst">PROCULUS</h3>
                                <h4 class="headline isSecond">TECHNOLOGIES</h4>
                                <div class="subhead isThird">Expert in GUIs with Total Solutions in Intelligent TFT LCMs
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Link HTML for hero home page -->
                </div>
            </div>
        </div>
        <!--WHO ARE WE START-->
        <section class="module" data-visible="false">
            <div class="module-background">
                <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
                    <defs>
                        <filter id="image-grading--green">
                            <feColorMatrix type="matrix"
                                           values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"
                                           result="original"></feColorMatrix>
                            <feComponentTransfer>
                                <feFuncR type="identity"/>
                                <feFuncG type="identity"/>
                                <feFuncB type="identity"/>
                                <feFuncA type="identity"/>
                            </feComponentTransfer>
                        </filter>
                    </defs>
                    <image filter="url('#image-grading--green')" width="100%" height="100%"
                           preserveAspectRatio="xMidYMid slice"
                           xlink:href="{{'static/images/cot01_bgimg.png'|base_url}}"></image>
                </svg>
            </div>
            <div class="module-content">
                <div class="who-content">
                    <div class="who-text-title">
                        <h2>WHO ARE WE?</h2>
                    </div>
                    <div class="who-text-cont">
                        <p>Proculus Technologies is the UART LCMs solution provider focusing on intelligent display
                            solution without self-owned invests on research for customer in embedded world.</p>
                        <p>Get a first class GUI from your artist's imagination to the lowest cost hardware in the
                            shortest time with Proculus.</p>
                    </div>
                    <div class="learn-more">
                        <button class="learn-btn">Learn More</button>
                    </div>
                </div>
            </div>
        </section>
        <!--WHO ARE WE END-->
        <div class="feed module curated-feed" data-loadmodule="Feed" data-visible>
            <div class="feed-list-container">
                <a href="###" class="feed-item dark-hover arrow-hover  left-big-pic" tabindex="0" data-visible>
                    <div class="feed-item-content light-all top-align">
                        <div class="feed-item-content-copy show-content-with">
                            <div class="headline ">
                                <div class="left-show-title">
                                    <h2>WHAT DOES</h2>
                                    <h2 class="title-end">PROCULUS OFFERER?</h2>
                                </div>
                                <div class="left-show-text">
                                    <p>Proculus provides an overall intelligent display solution including
                                        operation-visualized software and high quality LCD display in Industrial use</p>
                                    <p class="show-text-end">With integration of easy-to-use software and cost-effective
                                        hardware, your desired application in medical devices, verder machines and
                                        everything possible in embeded world can be marked faster than your
                                        expectation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feed-item-content-background">
                            <div class="feed-item-content-background-image bg-zoom"
                                 data-lazyload="background-image: url({{'static/images/cot02_img.png'|base_url}})"></div>
                        </div>
                    </div>
                </a>
                <a href="/press-release/2016/2016-adobe-digital-marketing-partner-of-the-year"
                   class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-green bottom-align">
                        <div class="feed-item-content-copy">
                            <div class="headline" style="margin-top: 1rem">
                                Proculus Intelligent display solution with highly reliability, powerful & unified
                                command set for user significantly shorten R&D circle.
                            </div>
                            <div class="eyebrow">
                                LCD MODULE
                            </div>
                            <div class="icon-pic" style="margin-top: 1rem">
                                <img src="{{'static/images/cot02_ico1.png'|base_url}}">
                            </div>
                        </div>
                        <div class="feed-item-content-background">
                            <div class="feed-item-content-background-image bg-zoom"
                                 data-lazyload="background-image: url({{'static/images/cot02_img2.png'|base_url}})"></div>
                        </div>
                    </div>
                </a>
                <a href="/press-release/2016/11112016-a-hat-trick-of-excellence-for-razorfish-hong-kong"
                   class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all top-align">
                        <div class="feed-item-content-copy">
                            <div class="headline" style="margin-top: 1rem">
                                Unicview Design is a software collection that makes GUIs development quick, easy and
                                intuitive.
                            </div>
                            <div class="eyebrow">
                                UNICVIEW DESIGN SOFTWARE
                            </div>
                            <div class="icon-pic" style="margin-top: 1rem">
                                <img src="{{'static/images/cot02_ico2.png'|base_url}}">
                            </div>
                        </div>
                        <div class="feed-item-content-background">
                            <div class="feed-item-content-background-image bg-zoom"
                                 data-lazyload="background-image: url({{'static/images/cot02_img4.png'|base_url}})"></div>
                        </div>
                    </div>
                </a>
                <a href="/press-release/2016/2016-adobe-digital-marketing-partner-of-the-year"
                   class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-green bottom-align">
                        <div class="feed-item-content-copy">
                            <div class="headline" style="margin-top: 1rem">
                                For starters with sample testing, Proculus offers a starter LCD Evaluation Kit for basic
                                understanding of the displays.
                            </div>
                            <div class="eyebrow">
                                DEVELOPER KITS
                            </div>
                            <div class="icon-pic" style="margin-top: 1rem">
                                <img src="{{'static/images/cot02_ico3.png'|base_url}}">
                            </div>
                        </div>
                        <div class="feed-item-content-background">
                            <div class="feed-item-content-background-image bg-zoom"
                                 data-lazyload="background-image: url({{'static/images/cot02_img2.png'|base_url}})"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--WHY US SECTION START-->
        <section class="module why-us" data-visible="false">
            <div class="module-background">
            </div>
            <div class="why-us-cont">
                <div class="why-us-title">
                    <div class="title">
                        <h2>WHY US?</h2>

                    </div>
                    <div class="title-desc">
                        Proculus Technologies' overall intelligent display solutions make cost-effective HMIs interfaces with simplified GUIs to boost up your products styles
                    </div>
                </div>
                <div class="why-us-three">
                    <div class="three-cont">
                        <div class="icon easy-use">
                            <img src="{{'static/images/cot03_ico1.png'|base_url}}">
                        </div>
                        <div class="line"></div>
                        <div class="adv-title">
                            EASY OF USE
                        </div>
                        <div class="adv-text">
                            <p>Easy-to-use with UnicView RD&AD Software</p>

                        </div>
                    </div>
                    <div class="three-cont">
                        <div class="icon easy-use">
                            <img src="{{'static/images/cot03_ico2.png'|base_url}}">
                        </div>
                        <div class="line"></div>
                        <div class="adv-title">
                            SIMPLE R&D
                        </div>
                        <div class="adv-text">
                            <p>Relieve engineers from coding and reduced time</p>

                        </div>
                    </div>
                    <div class="three-cont">
                        <div class="icon easy-use">
                            <img src="{{'static/images/cot03_ico3.png'|base_url}}">
                        </div>
                        <div class="line"></div>
                        <div class="adv-title">
                            HIGH RELIABILITY
                        </div>
                        <div class="adv-text">
                            <p>Customized GUIs with reliable hardware supply</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--WHY US SECTION END-->
    </main>
</div>
<!--PAGE TRANSITION END-->