<!doctype html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta property="og:type" content="Websites:article"/>
    <title>Proculus</title>
    <meta name="title" content="Proculus"/>
    <meta property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="Proculus"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>

    <link rel="canonical" href="/"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{'static/css/fontface.css'|base_url}}">
    <link rel="stylesheet" type="text/css" href="{{'static/css/fonts.css'|base_url}}"/>
    <link rel="stylesheet" type="text/css" href="{{'static/css/style.css'|base_url}}?v=20171107"/>
    <link rel="stylesheet" type="text/css" href="{{'static/css/iconfont.css'|base_url}}?v=20171107">
    <script type="application/javascript" src="{{'static/js/jquery-1.11.1.min.js'|base_url}}"></script>
    {{if isset($page) && $page=='news'}}
    <script type="application/javascript" src="{{'static/js/plugins/unslider.min.js'|base_url}}"></script>
    {{/if}}
    {{if isset($page) && $page == "faqs"}}
    <script type="application/javascript" src="{{'static/js/bootstrap.min.js'|base_url}}"></script>
    {{/if}}
    <noscript>
        <link rel="stylesheet" type="text/css" href="{{'static/css/no-js.css'|base_url}}"/>
    </noscript>
</head>
<body class="header_hor">
<a href="#main-content" class="visually-hidden">Skip to Content</a>
<div class="div-head">
    <header class="header masthead">
        <div class="head-margin">
            <div class="header-cont">
                <div class="h-cell h-left">
                    <div class="logo">
                        <a href="###">
                            <h1 class="top-logo">
                                <svg class="logo-image" viewBox="0 0 841.72 154.7" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="&#x56FE;&#x5C42;_2">
                                        <g id="&#x56FE;&#x5C42;_1-2">
                                            <path style="fill:#FFFFFF;" d="M77.35,0C34.631,0,0,34.631,0,77.35s34.631,77.35,77.35,77.35s77.35-34.631,77.35-77.35l0,0
			C154.7,34.631,120.069,0,77.35,0z M61.35,59.93c-11.852,0.006-21.464-9.598-21.47-21.45v0V17h21.46
			c11.849,0.256,21.248,10.069,20.992,21.918C82.084,50.407,72.829,59.662,61.34,59.91L61.35,59.93z M77.35,120.67V81.93
			c19.926-5.439,31.671-26.002,26.231-45.929C100.096,23.232,90.12,13.256,77.35,9.77V6.42c31.549,0,57.125,25.576,57.125,57.125
			S108.899,120.67,77.35,120.67z"/>
                                            <path style="fill:#FFFFFF;" d="M353.39,70v10.33c0,10.234,8.296,18.53,18.53,18.53h40.87c10.246-0.006,18.55-8.313,18.55-18.56V70
			c0-10.239-8.301-18.54-18.54-18.54l0,0h-40.89C361.676,51.466,353.384,59.766,353.39,70z M408.67,87.14h-32.59
			c-3.905,0.006-7.075-3.155-7.08-7.06c0-0.027,0-0.054,0-0.08v-9.76c0-3.894,3.156-7.05,7.05-7.05h32.59
			c3.899,0,7.06,3.161,7.06,7.06V80c0.05,3.866-3.044,7.04-6.909,7.089c-0.04,0.001-0.08,0.001-0.121,0.001V87.14z"/>
                                            <path style="fill:#FFFFFF;" d="M841.72,62.46V50.69h-60.9c-6.373,0-11.54,5.167-11.54,11.54v7.3
			c0.005,5.64,4.58,10.21,10.22,10.21h44.06c1.403,0,2.54,1.137,2.54,2.54v2.27c0,1.403-1.137,2.54-2.54,2.54h-54.28v11.77h63.28
			c5.059,0,9.16-4.101,9.16-9.16V77.81c0-4.418-3.582-8-8-8h-46.27c-1.403,0-2.54-1.137-2.54-2.54V65c0-1.403,1.137-2.54,2.54-2.54
			H841.72z"/>
                                            <path style="fill:#FFFFFF;" d="M238.29,51.42h-55.53v11.77h53.49c1.105,0,2,0.895,2,2c0,0,0,0,0,0v1.62c0,1.105-0.895,2-2,2h-49.5
			c-2.209,0-4,1.791-4,4v26h15.63V84.32c0-2.032,1.648-3.68,3.68-3.68h42.14c5.368,0,9.72-4.352,9.72-9.72l0,0v-9.78
			c0-5.363-4.347-9.71-9.71-9.71l0,0L238.29,51.42z"/>
                                            <path style="fill:#FFFFFF;" d="M341.44,70.91v-9.79c0-5.352-4.338-9.69-9.69-9.69l0,0h-63.3v11.76h55.11
			c1.248,0,2.26,1.012,2.26,2.26v0v1.17c0,1.248-1.012,2.26-2.26,2.26l0,0h-51.18c-2.17,0-3.93,1.76-3.93,3.93v26.05h15.63V80.64
			H307l20.32,18.22H347l-20.31-18.22h5c5.374,0.011,9.739-4.336,9.75-9.71C341.44,70.923,341.44,70.917,341.44,70.91z"/>
                                            <path style="fill:#FFFFFF;" d="M445.32,70v10.38c0,10.206,8.274,18.48,18.48,18.48c0,0,0,0,0,0h45.5V87.09h-41.55
			c-3.761,0-6.81-3.049-6.81-6.81V69.94c0-3.728,3.022-6.75,6.75-6.75l0,0h41.61V51.42h-45.44
			c-10.245,0.006-18.546,8.315-18.54,18.56C445.32,69.987,445.32,69.993,445.32,70z"/>
                                            <path style="fill:#FFFFFF;" d="M624.4,51.42h-15.63v31.76c0,8.66,7.02,15.68,15.68,15.68h46.65V87.09h-41.58
			c-2.816,0-5.104-2.274-5.12-5.09V51.42z"/>
                                            <path style="fill:#FFFFFF;" d="M571.4,87.46H545c-4.186,0-7.58-3.394-7.58-7.58c0,0,0,0,0,0V51.79H521.8V82
			c-0.022,9.494,7.656,17.208,17.15,17.23c0.017,0,0.033,0,0.05,0h38.44c9.488-0.005,17.176-7.702,17.17-17.19
			c0-0.013,0-0.027,0-0.04V51.79H579v28.1c0,4.181-3.389,7.57-7.57,7.57C571.42,87.46,571.41,87.46,571.4,87.46z"/>
                                            <path style="fill:#FFFFFF;" d="M733.39,87.46H707c-4.186,0-7.58-3.394-7.58-7.58c0,0,0,0,0,0V51.79h-15.63V82
			c-0.022,9.494,7.656,17.208,17.15,17.23c0.02,0,0.04,0,0.06,0h38.44c9.488-0.011,17.171-7.712,17.16-17.2c0-0.01,0-0.02,0-0.03
			V51.79H741v28.1c0,4.181-3.389,7.57-7.57,7.57C733.417,87.46,733.403,87.46,733.39,87.46z"/>
                                        </g>
                                    </g>
                                </svg>
                            </h1>
                        </a>
                    </div>
                </div>
                <div class="h-cell h-middle"></div>
                <div class="h-cell h-right">
                    <nav class="w-nav dropdown_mdesign ush_menu_1 type_desktop">
                        <a class="w-nav-control" id="nav-mobile" href="javascript:void(0);">
                            <div class="w-nav-icon">
                                <icon class="iconfont">&#xe647;</icon>
                            </div>
                        </a>
                        <ul class="w-nav-list level_1" id="nav-level-1" style="">
                            <li class="menu-item  level_1">
                                <a class="w-nav-anchor level_1" href="{{'/'|base_url}}">
                                    <span class="w-nav-title">Home</span>
                                    <span class="w-nav-arrow"><icon class="iconfont">&#xe603;</icon></span>
                                    <span class="ripple-container"></span>
                                </a>
                            </li>
                            <li class="menu-item  level_1">
                                <a class="w-nav-anchor level_1" href="#">
                                    <span class="w-nav-title">Demos</span>
                                    <span class="w-nav-arrow"><icon class="iconfont">&#xe603;</icon></span>
                                    <span class="ripple-container"></span>
                                </a>
                            </li>
                            <li class="menu-item  menu-item-has-children level_1 togglable">
                                <a class="w-nav-anchor level_1" href="#">
                                    <span class="w-nav-title">Products</span>
                                    <span class="w-nav-arrow"><icon class="iconfont">&#xe603;</icon></span>
                                    <span class="ripple-container"></span>
                                </a>
                                <ul class="w-nav-list level_2" style="">
                                    <li class="menu-item  level_2">
                                        <a class="w-nav-anchor level_2" href="{{'product/overview'|base_url}}">
                                            <span class="w-nav-title">Overview</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2 ">
                                        <a class="w-nav-anchor level_2" href="#">
                                            <span class="w-nav-title">UnicView Design</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2 ">
                                        <a class="w-nav-anchor level_2" href="#">
                                            <span class="w-nav-title">Displays</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2">
                                        <a class="w-nav-anchor level_2" href="{{'product/developer_kit'|base_url}}">
                                            <span class="w-nav-title">Developer Kit</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item  menu-item-has-children level_1 togglable">
                                <a class="w-nav-anchor level_1" href="#">
                                    <span class="w-nav-title">Support</span>
                                    <span class="w-nav-arrow"><icon class="iconfont">&#xe603;</icon></span>
                                    <span class="ripple-container"></span>
                                </a>
                                <ul class="w-nav-list level_2" style="">
                                    <li class="menu-item  level_2">
                                        <a class="w-nav-anchor level_2" href="{{'support/software'|base_url}}">
                                            <span class="w-nav-title">Software</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2 ">
                                        <a class="w-nav-anchor level_2" href="#">
                                            <span class="w-nav-title">Service</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2 ">
                                        <a class="w-nav-anchor level_2" href="{{'support/tutorials'|base_url}}">
                                            <span class="w-nav-title">Video Tutorial</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2">
                                        <a class="w-nav-anchor level_2" href="{{'support/faqs'|base_url}}">
                                            <span class="w-nav-title">FAQS</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item  menu-item-has-children level_1 togglable">
                                <a class="w-nav-anchor level_1" href="#">
                                    <span class="w-nav-title">Company</span>
                                    <span class="w-nav-arrow"><icon class="iconfont">&#xe603;</icon></span>
                                    <span class="ripple-container"></span>
                                </a>
                                <ul class="w-nav-list level_2" style="">
                                    <li class="menu-item  level_2">
                                        <a class="w-nav-anchor level_2" href="#">
                                            <span class="w-nav-title">Technology</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                    <li class="menu-item  level_2 ">
                                        <a class="w-nav-anchor level_2" href="{{'news/lists'|base_url}}">
                                            <span class="w-nav-title">News</span>
                                            <span class="w-nav-arrow"></span>
                                            <span class="ripple-container"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item  menu-item-has-children level_1 togglable">
                                <a class="w-nav-anchor level_1" href="{{'contact/index'|base_url}}">
                                    <span class="w-nav-title">Contact Us</span>
                                    <span class="ripple-container"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<!--NAVIGITION END-->


<!--PAGE TRANSITION START-->
{{include $__PAGE__}}
<!--PAGE TRANSITION END-->

<!--页面 footer start-->
<section class="module footer" data-visible="false">
    <div class="module-background">
    </div>
    <div class="footer-module">
        <div class="foot-cont">
            <div class="pro-com foot-box">
                <div class="footer-title">
                    <h2>Products</h2>
                    <div class="foot-guide">
                        <p><a href="#">Overview</a></p>
                        <p><a href="#">Unicview Design</a></p>
                        <p><a href="#">Displays</a></p>
                    </div>
                </div>
                <div class="footer-title">
                    <h2>Company</h2>
                    <div class="foot-guide">
                        <p><a href="#">About us</a></p>
                        <p><a href="#">News</a></p>
                    </div>
                </div>
            </div>
            <div class="support foot-box">
                <div class="footer-title">
                    <h2>Support</h2>
                    <div class="foot-guide">
                        <p><a href="#">Documentation</a></p>
                        <p><a href="#">View Tutorial</a></p>
                        <p><a href="#">FAQs</a></p>
                    </div>
                </div>
            </div>
            <div class="contact foot-box">
                <div class="footer-title">
                    <h2>Contact Us</h2>
                    <div class="contact-cont foot-guide">
                        <div class="phone">
                            <icon class="iconfont">&#xe624;</icon>
                            <span class="phone-text">(+86)512-65883844</span>
                        </div>
                        <div class="email">
                            <icon class="iconfont">&#xe645;</icon>
                            <span class="email-text">sales@proculustech.com</span>
                        </div>
                        <div class="location">
                            <div class="location-icon">
                                <icon class="iconfont">&#xe601;</icon>
                            </div>
                            <div class="location-text">
                                Rm 1003, No.40 Buliding, Tus-park, 60 Weixin Rd, Suzhou 215121, China
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <div class="footer-title">
                    <h2>Subscribe</h2>
                    <div class="contact-cont foot-guide">
                        <div class="sub-tip">
                            Be aware of news
                        </div>
                        <div class="send-email">
                            <input class="send-input" placeholder="Your e-mail">
                            <button>send</button>
                        </div>
                    </div>
                </div>
                <div class="follow">
                    <div class="footer-title">
                        <h2>Follow Us</h2>
                        <div class="foot-guide">
                            <a>
                                <icon class="iconfont">&#xe649;</icon>
                            </a>
                            <a>
                                <icon class="iconfont">&#xe638;</icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-div">
            <div class="line">
            </div>
        </div>
        <div class="protect">
            <div class="foot-logo">
                <img src="{{'static/images/logo.png'|base_url}}">
            </div>
            <div class="to-top">
                <a href="###">
                    <icon class="iconfont">&#xe631;</icon>
                </a>
            </div>
            <div class="protect-text">
                <p>
                    COPYRIGHT &copy; 2017 PROCULUS. ALL RIGHTS RESERVED
                </p>

            </div>
        </div>
    </div>
</section>
<!--页面 footer start-->
<!-- Page Scripts -->
{{if isset($page) && $page == 'dashboard'}}
<input type="hidden" id="refreshed" value="no"/>
<script src="{{'static/js/shared.js'|base_url}}"></script>
<script src="{{'static/js/app.js'|base_url}}"></script>
{{/if}}

<script type="application/javascript">
    $(function(){
        $("#nav-mobile").on("click", function () {

            if ($(this).hasClass('mobile-close')) {
                $("#nav-level-1").hide();
                $("#nav-level-1").removeClass('nav-mobile-level-1');
                $("#nav-mobile .iconfont").html("&#xe647;");
                $(this).removeClass("mobile-close");
            }
            else {
                $("#nav-mobile .iconfont").html("&#xe63c;");
                $(this).addClass("mobile-close");
                $("#nav-level-1").addClass('nav-mobile-level-1');
                $("#nav-level-1").show();
            }
        });
        $(".menu-item-has-children").on("click", function () {
            $("#nav-level-1").find(".w-nav-list").removeClass("mobile_item");
            $(this).find(".w-nav-list").addClass("mobile_item");
        });
    })
</script>
</body>
</html>