<div class="row soft-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SUPPORT</h1>
        </div>
    </div>
</div>
<div class="soft-cont">
    <div class="soft-toggle-tip">
        <ul>
            <li><a href="{{'support/software'|base_url}}">Downloads</a></li>
            <li><a href="{{'support/tutorials'|base_url}}">Tutorials</a></li>
            <li class="active"><a href="{{'support/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
    <div class="down-cont">
        <div class="down-soft faq-cont">
            <div class="down-left">
                <h2>FAQ</h2>
                <p>
                    Here are some common questions about platform usage
                </p>
            </div>
            <div class="down-right">
                <div class="ques-list">
                    {{foreach $faq_list as $faq}}
                    <div class="quest-cont">
                        <a class="quest-link" role="button" data-toggle="collapse" href="#collapse1"
                           aria-expanded="false" aria-controls="collapse1">
                            <div class="quest">
                                {{$faq.title}}
                            </div>
                            <div>
                                <icon class="iconfont">&#xe7d5;</icon>
                            </div>
                        </a>
                    </div>
                    <div class="collapse quest-ans" id="collapse1">
                        <div class="well">
                            {{$faq.answer}}
                        </div>
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="application/javascript">
    $(function () {
        $(".quest-link").on("click", function () {
            console.log($(this).parent().next(".collapse").hasClass("in"));
            if ($(this).parent().next(".collapse").hasClass("in")) {

                $(this).find(".iconfont").html("&#xe7d5;");
            }
            else {
                $(this).find(".iconfont").html("&#xe63b;");
            }
        })
    })
</script>