<div class="row service-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SERVICE</h1>
        </div>
    </div>
</div>
<div class="service-cont">
    <div class="service-row">
        <div class="service-pic row1">
            <img src="{{'static/images/service-row1.jpg'|base_url}}">
        </div>
        <div class="service-desc right-desc">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>

        </div>
    </div>
    <div class="service-row">
        <div class="service-desc left-desc">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>
        </div>
        <div class="service-pic row2">
            <img src="{{'static/images/service-row2.jpg'|base_url}}">
        </div>

    </div>
    <div class="service-row">
        <div class="service-pic row3">
            <img src="{{'static/images/service-row3.jpg'|base_url}}">
        </div>
        <div class="service-desc right-desc ">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>
        </div>
    </div>
</div>
<div class="pro-cont">
    <div class="pro-list">
        <img src="{{'static/images/cot03_ico1.png'|base_url}}">
        <div class="pro-title">
            Exploration Design
        </div>
        <div class="pro-text">
            Proculus tools are known for letting interface designers quickly prototype an interface. 
            Nobody is better or faster at this than us. If you're looking to design a user interface 
            that redefines the way things are done, you'll want to try out your concept to see 
            how they work.                
        </div>
    </div>
    <div class="pro-list">
        <img src="{{'static/images/cot03_ico1.png'|base_url}}">
        <div class="pro-title">
            Start Development                
        </div>
        <div class="pro-text">
            Already have Proculus tools but don't currently have the staff to meet your schedule? 
            Naturally, we use Proculus products and deliver results that you can bring right 
            into the Proculus tool chain. Since we designed and implemented the tools.
        </div>
    </div>
    <div class="pro-list">
        <img src="{{'static/images/cot03_ico1.png'|base_url}}">
        <div class="pro-title">
            Implement a GUI                
        </div>
        <div class="pro-text">
            If you have the specifications all worked out and need someone to develop an embedded 
            GUI or even deployable graphics code, we can help. Having gone through the entire 
            design-tweak-develop-deploy cycle many times, we can lend our expertise to your project.                
        </div>
    </div>
</div>