<div class="row service-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SERVICE</h1>
        </div>
    </div>
</div>
<div class="service-cont">
    <div class="service-row">
        <div class="service-pic row1">
        </div>
        <div class="service-desc">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>

        </div>
    </div>
    <div class="service-row">
        <div class="service-desc">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>
        </div>
        <div class="service-pic row2">

        </div>

    </div>
    <div class="service-row">
        <div class="service-pic row3">

        </div>
        <div class="service-desc">
            <p>
                roculus' innovative, high-performance solutions enable product designers across many different markets to easily achieve smartphone-like interfaces based on new or existing 8-bit micro-controllers.
            </p>
        </div>
    </div>
</div>