<div class="row soft-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SUPPORT</h1>
        </div>
    </div>
</div>
<div class="soft-cont">
    <div class="soft-toggle-tip">
        <ul>
            <li class="active"><a href="{{'support/software'|base_url}}">Downloads</a></li>
            <li><a href="{{'support/tutorials'|base_url}}">Tutorials</a></li>
            <li><a href="{{'support/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
    <div class="down-cont">
        <div class="down-soft">
            <div class="down-left">
                <h2>SOFTWARE</h2>
                <p>
                    Download most recent UnicView AD & RD updates.Please be awared of requesting the serial key from your sales representative.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                <ul class="down-list">
                    <li class="filename"><span>UnicView AD UnicView AD UnicView AD UnicView AD UnicView AD</span></li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>TECHNICAL DOCUMENTS</h2>
                <p>
                    Well written userguide with full list of all functions.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>TOOLS</h2>
                <p>
                    Discoverall sets of basic commands.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>DATASHEET</h2>
                <p>
                    Click to access specifications of all part numbers of displays.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                <ul class="down-list">
                    <li class="filename">UnicView AD</li>
                    <li class="filetype">PDF</li>
                    <li class="filedate">19/10/2017</li>
                    <li class="filesize">12.1Mb</li>
                    <li class="filedown"><a href="#"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>