<div class="row soft-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SUPPORT</h1>
        </div>
    </div>
</div>
<div class="soft-cont">
    <div class="soft-toggle-tip">
        <ul>
            <li class="active"><a href="{{'support/software'|base_url}}">Downloads</a></li>
            <li><a href="{{'support/tutorials'|base_url}}">Tutorials</a></li>
            <li><a href="{{'support/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
    <div class="down-cont">
        <div class="down-soft">
            <div class="down-left">
                <h2>SOFTWARE</h2>
                <p>
                    Download most recent UnicView AD & RD updates.Please be awared of requesting the serial key from your sales representative.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                {{foreach $soft_list as $software}}
                <ul class="down-list">
                    <li class="filename"><span>{{$software.filename|strstr:".":"TRUE"}}</span></li>
                    <li class="filetype" style="text-transform: uppercase">{{$software.filetype}}</li>
                    <li class="filedate">{{$software.create_time|date_format:"%d/%m/%Y"}}</li>
                    <li class="filesize">{{$software.size}}Mb</li>
                    <li class="filedown"><a href="{{'upload/file/'|base_url}}{{$software.filename}}"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                {{/foreach}}
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>TECHNICAL DOCUMENTS</h2>
                <p>
                    Well written userguide with full list of all functions.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                {{foreach $guide_list as $guide}}
                <ul class="down-list">
                    <li class="filename"><span>{{$guide.filename|strstr:".":"TRUE"}}</span></li>
                    <li class="filetype" style="text-transform: uppercase">{{$guide.filetype}}</li>
                    <li class="filedate">{{$guide.create_time|date_format:"%d/%m/%Y"}}</li>
                    <li class="filesize">{{$guide.size}}Mb</li>
                    <li class="filedown"><a href="{{'upload/file/'|base_url}}{{$guide.filename}}"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                {{/foreach}}
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>TOOLS</h2>
                <p>
                    Discoverall sets of basic commands.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                {{foreach $com_list as $command}}
                <ul class="down-list">
                    <li class="filename"><span>{{$command.filename|strstr:".":"TRUE"}}</span></li>
                    <li class="filetype" style="text-transform: uppercase">{{$command.filetype}}</li>
                    <li class="filedate">{{$command.create_time|date_format:"%d/%m/%Y"}}</li>
                    <li class="filesize">{{$command.size}}Mb</li>
                    <li class="filedown"><a href="{{'upload/file/'|base_url}}{{$command.filename}}"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                {{/foreach}}
            </div>
        </div>
        <div class="down-soft">
            <div class="down-left">
                <h2>DATASHEET</h2>
                <p>
                    Click to access specifications of all part numbers of displays.
                </p>

            </div>
            <div class="down-right">
                <ul class="down-head">
                    <li class="filename">Name</li>
                    <li class="filetype">Type</li>
                    <li class="filedate">Date</li>
                    <li class="filesize">Size</li>
                    <li class="filedown"></li>
                </ul>
                {{foreach $data_list as $datasheet}}
                <ul class="down-list">
                    <li class="filename"><span>{{$datasheet.filename|strstr:".":"TRUE"}}</span></li>
                    <li class="filetype" style="text-transform: uppercase">{{$datasheet.filetype}}</li>
                    <li class="filedate">{{$datasheet.create_time|date_format:"%d/%m/%Y"}}</li>
                    <li class="filesize">{{$datasheet.size}}Mb</li>
                    <li class="filedown"><a href="{{'upload/file/'|base_url}}{{$datasheet.filename}}"><button class="down-btn">DOWNLOAD</button></a></li>
                </ul>
                {{/foreach}}
            </div>
        </div>
    </div>
</div>