<div class="row soft-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SUPPORT</h1>
        </div>
    </div>
</div>
<div class="soft-cont video-wapper">
    <div class="soft-toggle-tip">
        <ul>
            <li><a href="{{'support/software'|base_url}}">Downloads</a></li>
            <li class="active"><a href="{{'support/tutorials'|base_url}}">Tutorials</a></li>
            <li><a href="{{'support/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
    <div class="down-cont">
        <div class="down-soft">
            <div class="down-left">
                <h2>Tutorials</h2>
                <p>
                    Quickly learn how to use the tools and instanly create you best produt.
                </p>
            </div>
            <div class="down-right">
                <div class="video-list">
                    {{foreach $video_list as $video}}
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
										<span class="zoom-caption">
											<i class="icon-play iconfont" data-url="{{'upload/file/'|base_url}}{{$video.name}}">&#xe611;</i>
										</span>
                                <div class="video-bg"></div>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">{{$video.title}}</h5>
                                <div class="info">
                                    <span>{{$video.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</div>
<video class="video" id="video" controls  style="display: none">
    <source src="" type="video/mp4">
</video>
<div class="bg-black"></div>
<script>
    $(function () {
        $(".icon-play").on("click", function () {
            var url = $(this).data("url");
            var heights=XP_getPageSize().h;
            $(".bg-black").css("height", heights);
            $("#video").prop("src", url);
            var scroll_top = $(document).scrollTop();////获取当前窗口距离页面顶部高度
            var window_height = $(window).height();
            $("#video").css("top", scroll_top + window_height * 0.25);
            $("#video").show();
            $("#video").trigger("play");
            $(".bg-black").show();

        });
        $(".bg-black").on("click", function () {
            $("#video").trigger("pause").hide();
            $(".bg-black").hide();
        })
    });
    //获取页面的高度与宽度
    function XP_getPageSize(){
        var pt = {w:0,h:0};
        if (window.innerHeight && window.scrollMaxY){
            pt.w = document.body.scrollWidth;
            pt.h = window.innerHeight + window.scrollMaxY;
        }
        else if (document.body.scrollHeight > document.body.offsetHeight){ // all but Explorer Mac
            pt.w = document.body.scrollWidth;
            pt.h = document.body.scrollHeight;
        }
        else { // Explorer Mac...would also work in Explorer 6 Strict, Mozilla and Safari
            pt.w = document.body.offsetWidth;
            pt.h = document.body.offsetHeight;
        }
        return pt;
    }

</script>