<div class="row soft-wapper nav-padding-top">
    <div class="wrapper-top">
        <div class="title-top">
            <h1>SUPPORT</h1>
        </div>
    </div>
</div>
<div class="soft-cont video-wapper">
    <div class="soft-toggle-tip">
        <ul>
            <li><a href="{{'support/software'|base_url}}">Downloads</a></li>
            <li class="active"><a href="{{'support/tutorials'|base_url}}">Tutorials</a></li>
            <li><a href="{{'support/faqs'|base_url}}">FAQ</a></li>
        </ul>
    </div>
    <div class="down-cont">
        <div class="down-soft">
            <div class="down-left">
                <h2>Tutorials</h2>
                <p>
                    Quickly learn how to use the tules and instanly create you best produt.
                </p>
            </div>
            <div class="down-right">
                <div class="video-list">
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <a href="single.html">
										<span class="zoom-caption">
											<i class="icon-play iconfont">&#xe611;</i>
										</span>
                                    <img src="http://placehold.it/200x120">
                                </a>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">UnicView AD: Getting Started</h5>
                                <div class="info">
                                    <span>Quick guide on how start using UnicView AD</span>
                                </div>
                            </div>
                        </div>
                        <video class="pause" controls poster="images/vedio.jpg" width="663" height="373" style="display: none">
                            <source src="video/Defone3.8_1.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <a href="single.html">
										<span class="zoom-caption">
											<i class="icon-play iconfont">&#xe611;</i>
										</span>
                                    <img src="http://placehold.it/200x120">
                                </a>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">UnicView AD: Getting Started</h5>
                                <div class="info">
                                    <span>Quick guide on how start using UnicView AD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <a href="single.html">
										<span class="zoom-caption">
											<i class="icon-play iconfont">&#xe611;</i>
										</span>
                                    <img src="http://placehold.it/200x120">
                                </a>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">UnicView AD: Getting Started</h5>
                                <div class="info">
                                    <span>Quick guide on how start using UnicView AD Quick guide on how start using UnicView AD Quick guide on how start using UnicView AD Quick guide on how start using UnicView AD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <a href="single.html">
										<span class="zoom-caption">
											<i class="icon-play iconfont">&#xe611;</i>
										</span>
                                    <img src="http://placehold.it/200x120">
                                </a>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">UnicView AD: Getting Started</h5>
                                <div class="info">
                                    <span>Quick guide on how start using UnicView AD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video-cont">
                        <div class="post wrap-vid">
                            <div class="zoom-container">
                                <a href="single.html">
										<span class="zoom-caption">
											<i class="icon-play iconfont">&#xe611;</i>
										</span>
                                    <img src="http://placehold.it/200x120">
                                </a>
                            </div>
                            <div class="video-desc">
                                <h5 class="vid-name">UnicView AD: Getting Started</h5>
                                <div class="info">
                                    <span>Quick guide on how start using UnicView AD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".icon-play").on("click", function () {
            
            
        })
    })
</script>